<div class="progress">
  <div class="progress-bar progress-bar-{{result.status.class}}" role="progressbar" aria-valuenow="{{result.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{result.percent}}%">
    <span>{{result.percent}}% Correct</span>
  </div>
</div>

<div class="alert alert-{{result.status.class}}">
	{{result.correct}} correct answers of {{result.total}} questions.
	<p class="pull-right">{{result.status.text}}</p>
</div>

<div class="pull-right">
	<button ui-sref="level" class="btn btn-primary">
		Start another quiz
	</button>
	or
	<button ui-sref="main" class="btn btn-default">
		Go to main page
	</button>	
</div>
